API_ID=16201655
API_HASH=440ba807d2cdf696ca498d441e2a6b29
BOT_TOKEN=2121214342:AAHzQBOLsqAlENXdfOYjNUJZ4ti54LUvuco
MONGO_DB_URI=mongodb+srv://Devarora0987:#Dev12345@cluster0.razivtc.mongodb.net/?retryWrites=true&w=majority
LOG_GROUP_ID=-1001853541618
MUSIC_BOT_NAME=ғᴀʟʟᴇɴ ダ ᴍᴜ𝕤ɪᴄ ダ 𝕃𝕖𝕘𝕖𝕟𝕕
OWNER_ID=5037053047
STRING_SESSION=AQBxnZfefNiXRTOyZyKUUT6OxSCMFw7o-Z7Na8CjSOik42ZSwlwATUccYwW_Omy6yzUyxBHVOKnX3pNUpBNJhYmnERg2gR9XauOwY8UHZKPo7ZqlCsnCTuNVI862mPKlS45yFLGfHyOqhS3f2X4rUxHTOcsWugDeFRzeerXEWRchZUsTZ6tGvpiU6f4n3n6BmDkwNF5zRqj_rDBVRGE239LH89hGG0-ZmruTsl-oVCDdYhT1JRxGZt8GB5khHCmk04ZDZegYZtBgiycVftA3vr-2jF1XHkEOV_o2ueEvl32Ed39WyrPO8PRMH92ChzSN4sEiaYrd2_vcPzKjkOa26XjcAAAAAU5ywukA
STRING_SESSION2=AQCwiB3geW4mkLmt3WSXsCYjT5EHAPQ3cTztB-1pto6BEZGTKYNvy6lvUJAtRs-lXo5sJmMaStclV6atGeh1Tg2YvE_w1vlLZZInohWE61KsbsrMnSuzQrcMwwQLPfipkiI4BSrouI70YoP3aeGOBGePffJcjBOLBn5TLwIqGfOPCICdUft4WedWcs2ALN5UKChItJTUFrNZLoGVqD8gABlzXa9UEYnC4wg9OJ7dRx7cMAtwTtoY8zWoomHAzveijSqwp7e8CxAsUYSAKfpVYXtxcplzIhXFuofw7qDDU1nK--FF0VcfUOuUL3s-U_OU2waUJ9xBUo69Q5HkLsPRVGiZAAAAAVIu2WgA
STRING_SESSION3=AQAahm4_1zW_qL5rXvOVKMBaHcLrcfv-BSBbaJ_wbjxHYfFoSYTAoTpzS9B8QELiT6FWXdhDfUPNmaTriBaRQ9DaUCMT3cQfMUcU6GEW-5-XSOr4f6rDrFBCqKF252KCGLI1kGxi0FccIVM-dwB0HGgJ9mWQFYQPYi9iewZhYmymPUHHDNbEF8lAwMA8KOIlCAgUAszdXX1BMkrGOd_x3SnecihfCvoPyCOvQYvFFjucMm9MKOiWdV4nwHiyq9ZDwI04nLZMJMJ6WLJaREzFpk0cwD9a9-wh37A0RpyzQz1z4BRYzCKcFOuqcLmhMEv3MLIfM09tEFfe6I4cP7GUxbJdAAAAAVUGtKUA
STRING_SESSION4=AQCIZQQ0zXQkVXFP8NQNkAN1vGrtNKIMaZtkPfbpsmH4V9Hg85A7w2qg1ZhT883nBz8BowFMn6APQc2ylYmAvZq0ORbpxHDa-Ch8tdrJz-TcATB6cdyg4NSuyidjCT3Trb3sgmYI9FeaOxT9iw4xik9UiSn6Z9dQ5OmsjLUDlXZ1Itht3DFTqtMgqiM2zpQyKPbU406uR4RuQA-kPizMYYuuIfIk8NImdkhqN7qELqdf1BnJXinfi-Uxu-O_esNp68K3tVE3aqD1iieDjnK6yZBMpt7pKTzrH3HXtOwklSwQlxu7KYJ5Mby0AxjIANyBC6VFPCJ55WFilMjNOsZlsfIZAAAAAUZFO8YA
STRING_SESSION5=AQAXqzXaKPVoRTe_DD_aqavq4MsZkjFAmL-MuZJ2qkQ21sDIaCXuJY1dt3bo4G6iZqB6Zl-pSspyQ0iTz_kRnwfRFQcIv6Eob5l0I5ELtDqVL6q497blnRiBEww36T6QNlTddSAz6sKpOcMD9Phlj7HCUmvkFaLtlMTGt6V5Yt_2kPkXVNJoxdVRtOyc1mahvBU1S7aN-f6jH3yIm-eZz0kjWlabHi-zuXkCz-VdjNva9-3tpq6slff7S6DTaQPq3aP2YP-MkEzWqeMRf0KfauH0qiwxKzfNmK323T8-APQyTjpqYmrcOdVUPJX8F_HlQLJJtYZ1J3dZMdrJsqLzWc8RAAAAAVQKjnUA
